---
layout: concertina
title: Page Not Found
permalink: /404.html
---

<h1>Sorry, Page not found</h1>
<p>Here's a list of everything, just in case...</p>

<h2><a href="/">home</a></h2>
<p>
<a href="about.html">about</a>
<a href="conduct.html">conduct</a>
<a href="contrib.html">contrib</a>
<a href="credits.html">credits</a>
<a href="downloads.md">downloads</a>
<a href="help.html">help</a>
<a href="site.html">site</a>
</p>

<h2><a href="/dev.html">devel</a></h2>
<p>
<a href="devel/coding.html">coding</a>
<a href="devel/github.html">github</a>
<a href="devel/index.html">index</a>
<a href="devel/obsolescence.html">obsolescence</a>
<a href="devel/tasks.html">tasks</a>
</p>

<h2><a href="/guide/">guide</a></h2>
<p>
<a href="guide/advancedusage.html">advancedusage</a>
<a href="guide/configuration.html">configuration</a>
<a href="guide/gettingstarted.html">gettingstarted</a>
<a href="guide/index.html">index</a>
<a href="guide/intro.html">intro</a>
<a href="guide/mimesupport.html">mimesupport</a>
<a href="guide/miscellany.html">miscellany</a>
<a href="guide/optionalfeatures.html">optionalfeatures</a>
<a href="guide/reference.html">reference</a>
<a href="guide/security.html">security</a>
<a href="guide/tuning.html">tuning</a>
</p>

{% for col in site.collections %}
  <h2><a href="{{col.label}}.html">{{col.label}}</a></h2>
  <p>
  {% for doc in col.docs %}
    {% assign prefix = '/' | append: col.label | append: '/' %}
    {% assign new = doc.url | remove_first: prefix %}
    <a href="{{doc.url}}">{{new}}</a>
  {% endfor %}
  </p>
{% endfor %}

