---
layout: concertina
title: Contrib
---

<h2>User Contributions to NeoMutt</h2>

<p>
  NeoMutt is a fantastic program.  It's versatile, configurable, scriptable...<br>
  This is your chance to help other NeoMutt users...
</p>

<ul>
  <li>Have <b>you</b> got a config file that <b>everybody</b> should be using?</li>
  <li>Have <b>you</b> written a script that makes life easier?</li>
</ul>

<p>
  If you are a GitHub user, you can raise a
  <a href="https://github.com/neomutt/neomutt/issues">NeoMutt issue</a> to tell us about your idea.</br>
  Or, you can contact the lead developer, Richard&nbsp;Russon&nbsp;<a href="mailto:rich@flatcap.org">&lt;rich@flatcap.org&gt;</a>
</p>


<h2>Status</h2>

<table summary="list of contrib">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Author</th>
      <th>Readme</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for c in site.contrib %}
      {% if c.status == 'ignore' %}
        {% continue %}
      {% endif %}
      <tr>
        <td><a href="{{ c.url }}">{{ c.title }}</a></td>
        <td>{{ c.description }}</td>
        <td>
          <a href="https://github.com/{{ c.username }}">{{ c.author }}</a>
        </td>
        <td>
          <a href="https://github.com/neomutt/neomutt/tree/neomutt/contrib/{{ c.dir }}#readme">{{ c.dir }}</a>
        </td>
        <td>
          {% case c.status %}
          {% when 'stable' %}
          {% assign span = true %}
            <span class="good">✔
          {% when 'devel' %}
            <span class="devel">⚠
          {% endcase %}
            {{ c.status }}
          {% if span == true %}
            </span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>



