<div class="sidebar well">
    <h1><a href="/features.html">Features</a></h1>

    <ul>
        {% for f in site.features %}
          {% if f.status == 'ignore' %}
            {% continue %}
          {% endif %}
          {% if f.url == page.url %}
            <li class="current">
          {% else %}
            <li>
          {% endif %}
          <a href="{{ f.url }}">{{ f.title }}</a>
          {% if (f.status == "devel") or (f.status == "disabled") %}
            <span class="devel">⚠</span>
          {% else %}
          {% if f.title == "Sidebar" %}
            <a href="/feature/sidebar-intro">(Intro)</a>
          {% endif %}
          {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
