<div class="sidebar well">
    <h1>Manual</h1>
    <ol start="0">
          {% if page.url == "/guide/" %}
            <li style="font-weight: bold;">
          {% else %}
            <li>
          {% endif %}
            <a href="/guide/index.html">Index</a></li>

          {% if page.url == "/guide/intro" %}
            <li style="font-weight: bold;">
          {% else %}
            <li>
          {% endif %}
            <a href="/guide/intro.html">Introduction</a></li>

          {% if page.url == "/guide/gettingstarted" %}
            <li style="font-weight: bold;">
          {% else %}
            <li>
          {% endif %}
            <a href="/guide/gettingstarted.html">Getting Started</a></li>
          {% if page.url == "/guide/configuration" %}
            <li style="font-weight: bold;">
          {% else %}
            <li>
          {% endif %}
            <a href="/guide/configuration.html">Configuration</a></li>
          {% if page.url == "/guide/advancedusage" %}
            <li style="font-weight: bold;">
          {% else %}
            <li>
          {% endif %}
            <a href="/guide/advancedusage.html">Advanced Usage</a></li>
          {% if page.url == "/guide/mimesupport" %}
            <li style="font-weight: bold;">
          {% else %}
            <li>
          {% endif %}
            <a href="/guide/mimesupport.html">Mutt's MIME Support</a></li>
          {% if page.url == "/guide/optionalfeatures" %}
            <li style="font-weight: bold;">
          {% else %}
            <li>
          {% endif %}
            <a href="/guide/optionalfeatures.html">Optional Features</a></li>
          {% if page.url == "/guide/security" %}
            <li style="font-weight: bold;">
          {% else %}
            <li>
          {% endif %}
            <a href="/guide/security.html">Security Considerations</a></li>
          {% if page.url == "/guide/tuning" %}
            <li style="font-weight: bold;">
          {% else %}
            <li>
          {% endif %}
            <a href="/guide/tuning.html">Performance Tuning</a></li>
          {% if page.url == "/guide/reference" %}
            <li style="font-weight: bold;">
          {% else %}
            <li>
          {% endif %}
            <a href="/guide/reference.html">Reference</a></li>
          {% if page.url == "/guide/miscellany" %}
            <li style="font-weight: bold;">
          {% else %}
            <li>
          {% endif %}
            <a href="/guide/miscellany.html">Miscellany</a></li>
    </ol>
</div>

