{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            <div class="sidebar well">
                {% include home-menu.html %}
                {% include feature-menu.html %}
                <!-- {% include howto-menu.html %} -->
                {% include guide-menu.html %}
                {% include distro-menu.html %}
                {% include contrib-menu.html %}
                {% include man-menu.html %}
                {% include dev-menu.html %}
                {% include changes-menu.html %}
                {% include code-menu.html %}
                {% include rfc-menu.html %}
                {% include run-menu.html %}
            </div>
        </div>
        <div class="col-md-9">
            {% case page.status %}
            {% when "devel" %}    <a class="devel" href="/dev.html">This feature is still under development</a>
            {% when "disabled" %} <span class="warning">{{ page.warning }}</span>
            {% when "notes" %}    <span class="notes">These are just notes &ndash; soon there will be more</span>
            {% when "wip" %}      <span class="wip">This is a Work in Progress</span>
            {% endcase %}
            <div class="algolia__initial-content js-algolia__initial-content">{{ content }}</div>

            <div class="algolia__search-content js-algolia__search-content">
              <h1 class="page-title">Search by <a style="text:undecorated" href="https://www.algolia.com">Algolia <img width=24 height=24 src="/images/algolia.svg"></a></h1>
              <div class="posts algolia__results"></div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
