---
layout: devel
title: Status
---

<h1>Status</h1>

<p>
  Each of the features has its own branch in the
  <a href="https://github.com/neomutt/neomutt">NeoMutt repository</a> on GitHub.
  Most features are branched directly from the Mutt-1.6.2 release.
</p>

<p>
  Below the, "Base", "Branch" and "Diffs" link to the source on GitHub.
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Base</th>
      <th>Branch</th>
      <th>Diffs</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for f in site.features %}
      <tr>
        <td><a href="{{ f.url }}">{{ f.title }}</a></td>
        <td><a href="https://github.com/neomutt/neomutt/tree/{{ f.base }}">{{ f.base }}</a></td>
        <td><a href="https://github.com/neomutt/neomutt/tree/{{ f.branch }}">{{ f.branch }}</a></td>
        <td><a href="https://github.com/neomutt/neomutt/compare/{{ f.base }}...{{ f.branch }}">Diffs</a></td>
        <td>
          {% case f.status %}
          {% when 'stable' %}
          {% assign span = true %}
            <span class="good">✔
          {% when 'devel' %}
            <span class="devel">⚠
          {% endcase %}
            {{ f.status }}
          {% if span == true %}
            </span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

